@import url("bootstrap/bootstrap-reboot.css");
@import url("pygments/pastie.css");

@import "bootstrap-container";

//@import "font_cormorant";
@import "font_league_mono";
@import "const";

html{
  position: relative;
  min-height: 100%;
}

body{
  font-family: $font;
  margin-bottom: 6em; /* Margin bottom by footer height */
}

footer#base-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5em; /* Set the fixed height of the footer here */
  /*line-height: 60px; !* Vertically center the text there *!*/
  background-color: #f5f5f5;

  p{
    margin: 0;
  }
}


header{
  font-weight: bolder;
}

header#banner{
  padding-bottom: 1em;
}

h2.entry-title{
  margin: 0;
}

.menu-nav header{
  display: inline-block;
}

address header{
  display: inline-block;
}

#base-content {
  margin-top: 1em;
}

.menu-nav{
  ul {
    display: inline-block;
    padding-left: .1em;
    margin: 0;
  }
  li{
    list-style: none;
    padding: 0;
    display: inline;
  }
}

tt.docutils.literal {
  font-family: $monospacedFont;
  font-weight: 200;
}

span.pre,pre{
  font-family: $monospacedFont;
  font-weight: 200;
}

article.article-short address{
  margin: 0;
}

.post-info{
  margin-bottom: 1em;

  .content-meta{
    display: block;
  }

  @media (min-width: 992px) {
    .content-meta {

      display: inline-block;
    }
  }

}

.content-meta{
  padding: 0;
  margin: 0;
}

.content-meta-header{
  font-weight: bold;
}

.entry-content {
  display: block;
  width: 100%;
}

@media (min-width: 1200px) {
  .post-detail{
    .post-info{
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;
      display: inline-block;
      -ms-flex-order: 2;
      order: 2;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: .5em;

      .content-meta {
        display: block;
      }
    }
    .entry-content{
      -ms-flex: 0 0 80%;
      flex: 0 0 80%;
      max-width: 80%;
      display: inline-block;
      -ms-flex-order: 1;
      order: 1;
      padding-right: 1em;
      border-right: 1px solid $blue;
    }

    .content-meta-header{
      display: block;
    }

    header{
      margin-bottom: 1em;
    }
  }

  .entry-title{
    margin-bottom: 1em;
  }

}

.highlight{
  margin-left: 2em;
}

ol#post-list{
  list-style:none;
  counter-reset:mycounter;
  padding: 0;
  letter-spacing: -1em;


  address{
    display: inline-block;
  }

  .post-info{
    margin: 0;
    padding-bottom: .5em;
  }

  .content-meta{
    display: inline;
  }

  .content-meta.tag{
    display: block;
  }

  h4{
    margin-bottom: .5em;
    font-size: 125%;
  }

  li{
    letter-spacing: normal;
    position: relative;
    display: block;
    padding-left: 3em;
    padding-top: .75em;
    padding-bottom: .75em;
    p:last-child{
      margin-bottom: 0;
    }
  }

  li:nth-child(even){
    background-color: $gray-200;
  }

  > li:before{
    position: absolute;
    left: .75em;
    content: counter(mycounter);
    counter-increment: mycounter;
    font-weight: bold;
    font-size: 125%;
  }
}

.admonition{
  margin: .75em;

  border: solid;
  border-radius: .25em;
  border-width: thin;
  background-color: $gray-200;
  border-color: $gray-500;

  p {
    padding-left: .25em;
    padding-right: .25em;
    margin-bottom: .125em;
  }

  .admonition-title{
    background-color: $gray-400;
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: $gray-500;
    font-weight: bold;
    font-size: 125%;
    padding: .25em;
  }

  &.note{
    background-color: lighten($teal, 50%);
    border-color: lighten($teal, 25%);

    .admonition-title{
      background-color: lighten($teal, 40%);
      border-bottom-color: lighten($teal, 25%);
    }
  }

  &.warning{
    background-color: lighten($yellow, 30%);
    border-color: $yellow;

    .admonition-title{
      background-color: lighten($yellow, 20%);
      border-bottom-color: $yellow;
    }
  }
}