{% extends "base.html" %}

{% block extra_head %}
  {{ super() }}
    {% for hidden_page in hidden_pages %}
     {% if hidden_page.slug == 'index' %}
        {% with content = hidden_page %}
            {% include "content-head.html"  %}
        {% endwith %}
    {% endif %}
    {% endfor %}
{% endblock %}


{% block content %}
{% for hidden_page in hidden_pages %}
    {% if hidden_page.slug == 'index' %}
       {# render-content uses {% if page %} to detect whether we are rendering page or article, so give page to it    #}
        {% with content = hidden_page, page = hidden_page %}
            {% include "render-content.html" %}
        {% endwith %}
    {% endif %}
{% else %}
    <strong>Please add hidden page (:status: hidden) with slug <i>'index'</i></strong>
{% endfor %}
{% endblock content %}
