{% extends "base.html" %}
{% block content %}
<h2>
{% block content_title %}
{{ category }}
{% endblock %}
</h2>

<ol id="post-list">{% for article in articles_page.object_list %}<li>
 <article class="article-short hentry">
                <header> <h4 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h4> </header>
                <footer class="post-info-summary">
                 {% with content=article %}
                    {% include "content-meta.html" %}
                 {% endwith %}
                </footer><!-- /.post-info -->
                <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->
        </article></li>{% endfor %}
</ol><!-- /#posts-list -->
{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
{% endblock content %}
